html, body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
    width: 100%;
    max-width: 320px;
    height: 597px;
    background-color: #FFFFFF;
/*     box-sizing: border-box; */
    overflow-x: hidden;
}

@media (min-width: 784px) {
    html, body {
        max-width: 784px;
        width: 100%;
        height: 504px;
    }
}

@media (min-width: 1121px) {
    html, body {
        max-width: 1121px;
        width: 100%;
        height: 535px;
        background-color: #F8F8F8;
    }
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 320px;
    height: 88px;
}



@media (min-width: 784px) {
    nav {
        max-width: 768px;
        width: 100%;
        height: 88px;
        justify-content: space-between;
    }
}

@media (min-width: 1121px) {
    nav {
        display: none;
    }
}

.navFirst,
.navSecond {
    display: contents; 
}

@media (min-width: 784px) {
    .navFirst {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 227.28px; 
    }
}

@media (min-width: 784px) {
    .navSecond {
        width: 332px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

.hideOnLow {
    display: none;
}

@media (min-width: 784px) {
    .hideOnLow {
        display: inline-block; 
    }
}

main {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    height: 509px;
    background-color: #F8F8F8;
    overflow: hidden; 
}

@media (min-width: 784px) {
    main {
        max-width: 769px;
        width: 100%;
        height: 416px;
    }
}

@media (min-width: 1121px) {
    main  {

        max-width: 1121px;
        width: 100%;
        height: 535px;
    }
}


.mainTop {
display: flex;
flex-direction: column;
justify-content: space-evenly;
height: 152px;
}

@media (min-width: 784px) {
    .mainTop  {
        height: 168px;

    }
}


@media (min-width: 1121px) {
    .mainTop {
        display: flex;
        justify-content: flex-end;
        width: 1096px;
        height: 172px;
    }
}

.mainTopHeader {
    display: contents;
}

@media (min-width: 1121px) {
    .mainTopHeader {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 1096px;
        height: 40px;
        margin-bottom: 8px;
    }
}


.mainHeader {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 304px;
    height: 40px;
    color: #1B1C21;
    ;
}


.mainHeader h2 {
    font-family: "TT Lakes";
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
}

@media (min-width: 784px) {
    .mainHeader {
        width: 257px; 
        gap: 20px;
    }
}

@media (min-width: 1121px) {
    .mainHeader {
        width: 266px; 
        gap: 30px;
    }
}


.mainTopReq {
    display: none;
    font-family: "TT Lakes";
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color:#1B1C21;
    
    ;

}

@media (min-width: 1121px) {
    .mainTopReq {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 368px;
    }
}

.mainTopReqText {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 168px;
    height: 40px;    
}





.scrollMenu {
    display: flex;
    margin-left: 16px;
/*     width: auto;  */
    height: 40px; 
    white-space: nowrap;

/*    overflow-x: auto;   */
    position: relative;  
    }

    @media (min-width: 784px) {
        .scrollMenu {
            margin-left: 24px;
        }
    }


    @media (min-width: 1121px) {
        .scrollMenu {
            display: flex;
            width: 1063px;
            height: 82px;
            white-space: normal;
            flex-wrap: wrap;
            justify-content: flex-start;
        }
    }
    

.menuItem {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    height: 40px;
    max-width: 100%;
/*     line-height: 40px; */
    border-radius: 6px;
    box-sizing: border-box;
    font-family: "TT Lakes";
    color: #7E7E82;
    padding: 5%;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.2px;
}

@media (min-width: 784px) {
    .menuItem {
        padding: 2%;
    }
}


@media (min-width: 1121px) {
    .menuItem {
        padding: 2%;
        max-width: 260px;
/*         line-height: 1px; */
    }
}

 .menuItem:first-child {
    border: 2px solid #B8FFEC; 
    background-color: #FFFFFF;
} 

.menuItem:nth-child(2) {
    border: 2px solid #B8FFEC; 
    background-color: #FFFFFF;
} 

@media (min-width: 1121px) {
    .menuItem:nth-child(2) {
        background-color: #F8F8F8;
    }
}

.hiddenOnSmall{
    display: none; 
}

@media (min-width: 1121px) {
    .hiddenOnSmall {
        display: inline-block; 
    }

    .menuItem:first-child {
        display: flex;
    }

    .menuItem:nth-child(2) {
        border: none; 
        background-color: none;
    } 
}

.scrollFade {
    position: absolute; 
    top: 0;
    right: 0;
    width: 24px; 
    height: 40px; 
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%); 
    pointer-events: none; 
}

@media (min-width: 1121) {
    .scrollFade {
        display: none;
    }
}


.mainContent {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 322px;
/*     gap: 16px; */
}

@media (min-width: 784px) {
    .mainContent {
        flex-direction: row;

        width: 720px;
        height: 208px;
/*         gap: 32px; */
    }
}

@media (min-width: 1121px) {
    .mainContent {
        width: 1092.35px;
        height: 307px;
        margin-top: 16.22px;
        /* justify-content: space-between; */ 
    }
}


.mainDescrtion {
    display: flex;
    flex-direction: column;
    width: 288px;
    height: 154px;
    gap: 16px;
    margin-left: 16px;

    text-overflow: ellipsis; 
    font-family: "Lakes";
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
}


@media (min-width: 784px) {
    .mainDescrtion {
        margin-left: 24px;
        width: 346px;
        height: 160px;
/*         gap: 32px; */
    }
}

@media (min-width: 1121px) {
    .mainDescrtion {
        margin-left: 34px;
        width: 490px;
        height: 198px;
    }
}

.descritionText {
    width: 288px;
    height: 90px;
/*     overflow: hidden; */
}

.descritionTextOne {
    margin-bottom: 2em; 
}

@media (min-width: 784px) {
    .descritionText {
        width: 312px;
        height: 160px;
    }
}

@media (min-width: 1121px) {
    .descritionText {
        width: 490px;
        height: 160px;
    }
}


.descritionTextTwo {
    display: none;
}

.descritionTextThird {
    display: none; 
}

@media (min-width: 784px) {
    .descritionTextTwo {
        display: inline-block; 
    }
}

@media (min-width: 1121px) {

/*     .descritionTextOne {
        margin-bottom: 1.5em; 
    } */

    .descritionTextTwo {
        display: inline; 
    }

    .descritionTextThird {
        display: inline; 
    }
}



.expand {
    display: flex;
    align-items: center;
    width: 132px;
    height: 24px;
    cursor: pointer;

    font-family: "Lakes";
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
}

.expandText {
margin-left: 8px;
}

@media (min-width: 784px) {
    .descritionTextTwo {
        display: inline-block; 
    }
}


.companyImg {
    width: 320px;
    height: 176px;
}

.companyImg img {
    width: 320px;
    height: 176px;
    object-fit: cover; 
}

@media (min-width: 784px) {

    .companyImg {
        width: 360px;
        height: 208px;
    }


    .companyImg img {
        width: 360px;
        height: 208px;
    }
}

@media (min-width: 1121px) {
    .companyImg {
        width: 531.35px;
        height: 307px;
    }


    .companyImg img {
        margin-left: 36px;
        width: 531.35px;
        height: 307px;
    }
}