
.menuItem {
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
/*     background-color: #444;
    border: 2px solid #222; */
    text-align: center;
}



.scrollMenu {
    display: flex;
    margin-left: 16px;
    /*     width: auto; */ 
    height: 40px; 
    /*     overflow-x: auto;  */
/*     overflow-x: hidden;
    overflow-y: hidden;  */

    }
    
    .menuItem {
        display: flex;
        align-items: center;
        justify-content: center;
    
        height: 40px; 
        width: 100%;
    /*     line-height: 40px;  */
        border-radius: 6px;
    }
    
    
    .menuItemText {
        display: flex;
        align-items: center;
        justify-content: center;
    
            font-family: "TT Lakes";
        color: #7E7E82;

        font-weight: 500;
        font-size: 16px;
        letter-spacing: -0.2px;
        text-align: center;
        line-height: normal; 
    }
    
    
     .menuItem:first-child {
        border: 2px solid #B8FFEC; 
        background-color: #FFFFFF;
    } 
    
    .menuItem:nth-child(2) {
        border: 2px solid #B8FFEC; 
        background-color: #FFFFFF;
    } 
    
    .hiddenOnSmall{
        display: none; 
    }
    
    @media (min-width: 1121px) {
        .hiddenOnSmall {
            display: inline-block; 
        }
    
        .menuItem:nth-child(2) {
            border: none; 
            background-color: none;
        } 
    }